<style>

.navbar{
   display: flex;
   justify-content: space-evenly;
  }


 .search-btn{
   background-color: #fe424d;
   color: white;
   border-radius: 25px;
   padding: 0 1rem 0 1rem;
 }

 .search-btn:hover{
   background-color: #fe424d;
   color: white;
 }

 .search-btn i{
   display: inline;
   margin-right: 0.5rem;
 }
 .search-inp{
   margin-left:10rem;
   border-radius:25px ;
   padding: 0.5rem 3rem 0.5rem 3rem;
   border: 0.5px solid black;
 }

 @media (max-width: 768px){
    
    .navbar-collapse{
      flex-basis: 0;
      flex-grow: 0;
      display: flex;
      position: absolute;
      top:3.5rem;
      right: 1rem;
      padding: 0.5rem;
      background-color: white;
      box-shadow: 0 0 8px grey;
    }
 }


</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" ><i class="fa-regular fa-compass"></i>
      <b class="logo" style="margin-left: 0.5rem; color:#fe424d;  font-family: Poppins, serif;">WanderLust</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings">Home</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
        <% if (!currUser) { %> 
        <a class="nav-link" href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if (currUser) { %> 
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>