<% layout("/layouts/boilerplate.ejs") %>

    <div class="row">
       <div class="col-8 offset-2"> 
    <h1>Create new listing</h1>
    <form method="post"  action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3"> 
           <label for="title" class="form-label">Title</label>
           <input placeholder="Enter title"  class="form-control" id="title" type="text" name=listing[title] required/>
           <div class="valid-feedback"> title looks goods</div>
           <div class="invalid-feedback">Please enter a title</div>
        </div>
      
       <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <textarea class="form-control" id="desc" name=listing[description] required></textarea>
        <div class="invalid-feedback">Please enter a Description</div>
       </div>
       
       <div class="row">
        <div class="mb-3 col-md-6">
            <label for="price" class="form-label">Price</label>
            <input placeholder="Enter price" class="form-control" id="price"  name=listing[price] required/>
            <div class="invalid-feedback">Please enter a valid price</div>
         </div>

         <div class="mb-3 col-md-6">
            <label class="form label">Select listing category</label>
            <select class="form-select" name="listing[category]">
                <option selected> select Category</option>
                <option value="Trending">Trending</option>
                <option value="beach">beach</option>
                <option value="Camping">Camping</option>
                <option value="mountains">mountains</option>
                <option value="Iconic cities">Iconic cities</option>
                <option value="Farms">farms</option>
                <option value="Arctic">Arctic</option>
                <option value="Rooms">Rooms</option>
                <option value="Amazing pool">Amazing pool</option>
              </select>
         </div>
       </div>
       
       <!-- <div class="mb-3">
        <label for="img" class="form-label"> Image Link</label>
        <input class="form-control" id="img" type="text" name=listing[image]/>
    </div> -->
        <div class="mb-3">
            <label for="img" class="form-label"> Upload Image</label>
            <input class="form-control" id="img" type="file" name="listing[image]" required  />
        </div>
        <div class="row">
            <div class="mb-3 col-md-8">
                <label for="loc" class="form-label">Location</label>
                <input placeholder="Enter location" class="form-control" id="loc"  type="text" name=listing[location] required/>
                <div class="invalid-feedback">Please enter a location</div>
            </div>
            
            <div class="mb-3 col-md-4">
                <label for="country" class="form-label">Country</label>
                <input placeholder="Enter country" class="form-control" id="country" type="text" name=listing[country] required/>
                <div class="invalid-feedback">Please enter a country</div>
            </div>

        </div>
       
        
        <br/><br/>
        <button class="btn btn-dark add-btn">Add</button>
        <br/><br/>
    </form>
    
</div>
</div>

