<% layout("/layouts/boilerplate.ejs") %>

<style>
    .sad{
       display: flex;
       align-items: center;
       margin-top: 6rem;
    }
   .fa-face-frown{
    color:brown;
    font-size: 4rem;
    text-align: center;
    margin-right: 1rem;
   }
   
</style>


<div class="row">
    <div class="col-6 offset-4 mt-3 box">
       <div class="sad">
        <i class="fa-solid fa-face-frown"></i>
        <h2 clas="main">No listing in available!!</h2>
       </div> 
    </div>
</div>